<div class="container" id="login">
  <div class="row">
    <div class="col-md-16">

      <div class="well login-box">
        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="submitForm()">

          <h1 style="text-align: center">Good to see you</h1>

          <div class="form-group">
            <input id="userkey"
                   (focus)="setLoginFailed(false)"
                   formControlName="userkey"
                   placeholder="userkey"
                   type="text"
                   class="form-control"/>
          </div>

          <div class="form-group">
            <input id="password"
                   (focus)="setLoginFailed(false)"
                   formControlName="password"
                   placeholder="password"
                   type="password"
                   class="form-control"/>
          </div>

          <div class="alert alert-danger" *ngIf="getLoginFailed()">
            <p>Wrong password or/and username</p>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-success" type="submit">Login</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
