<div class="container">
  <!-- header -->
  <div class="py-5 text-center">
    <h1>
      <span [ngClass]="{
                'badge-danger': issue.priority >=7,
                'badge-warning': issue.priority >=4,
                'badge-success': issue.priority >=1
                }"
                  class="badge align-bottom rounded-bottom">
            {{issue.priority}}
          </span>
      ISSUE {{issue.issue_key}}</h1>
    <p class="lead">{{issue.summary}}</p>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-3 mb-3">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Updated</span>
        <span class="badge badge-primary badge-pill">{{updatedInString}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Created by</h6>
          </div>
          <span class="text-muted">{{details.owner}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Time created</h6>
          </div>
          <span class="text-muted">{{createdInString}}</span>
        </li>
      </ul>
    </div>

    <!-- status, project name and assigned -->
    <div class="col-md-8 order-md-2 mb-4">
      <div class="row d-flex align-items-lg-start">
        <div class="col-lg col-md-2">
          <table class="table table-borderless table-hover">
            <tbody>
            <tr>
              <td></td>
              <td class="align-middle"><h4>Current status is</h4></td>
              <td><h2><span class="badge badge-secondary align-middle">{{issue.status}}</span></h2></td>
            </tr>
            <tr>
              <td></td>
              <td class="align-middle"><h4>Project</h4></td>
              <td><h2><span class="badge badge-secondary align-middle">{{issue.project}}</span></h2></td>
            </tr>
            <tr>
              <td></td>
              <td class="align-middle"><h4>Assigned to</h4></td>
              <td><h2><span class="badge badge-secondary align-middle">{{issue.assigned}}</span></h2></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- full description -->
  <div class="col-md-8 order-md-1 mb-4">
    <hr>
    <h2>
      Full description
    </h2>
    <p>{{details.description}}</p>
  </div>

  <!-- footer -->
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 Miłosz Szwedo</p>
  </footer>
</div>

