<a
  style="cursor: pointer"

  class="list-group-item clearfix"
  (click)="issueSelected()">

  <div class="pull-left col-sm-8">

      <h4 class="list-group-item-heading" *ngIf="true">{{(issue.issue_key)}}</h4>
      <h5 class="list-group-item-text">STATUS: {{issue.status}}</h5>

      <p *ngIf="isSelected" ><br>description:</p>
      <p *ngIf="isSelected" class="list-group-item">{{issue.summary}}</p>

  </div>

  <div class="pull-right col-sm-4">
    <div class="pull-right">
      <p *ngIf="isSelected" ><br>{{dateInString}}</p>
      <button style="margin-bottom: 0"
              class="btn btn-info pull-right"
              (click)="detailsSelected()">Details</button>
    </div>
  </div>
</a>

