<div
    style="cursor: pointer"
    class="list-group-item list-group-item-action"
    (click)="issueSelected()">

    <div>
      <div class="d-flex w-100 justify-content-between">
        <h4 class="list-group-item-heading" *ngIf="true">{{(issue.issue_key)}}</h4>
        <button style="margin-bottom: 0"
                class="btn btn-primary pull-right"
                (click)="detailsSelected()">Details</button>
      </div>
      <h5 class="list-group-item-text">STATUS: {{issue.status}}</h5>
      <p *ngIf="isSelected" ><br>issue summary:</p>
      <p *ngIf="isSelected" class="list-group-item">{{issue.summary}}</p>
    </div>


</div>

