<div style="cursor: pointer; padding-right: 10px; padding-left: 10px"
    class="list-group-item list-group-item-action"
    (click)="issueSelected()">

  <div class="form-inline">
    <!-- badge with priority -->
      <div class="border-right">
        <div class="col">
          <span [ngClass]="{
                'badge-danger': issue.priority >=7,
                'badge-warning': issue.priority >=4,
                'badge-success': issue.priority >=1
                }"
                class="badge badge-pill"
                style="max-height: 20px">
            {{issue.priority}}
          </span>
        </div>
    </div>

        <div class="col" style="">
        <span class="list-group-item-heading ">{{(issue.issue_key)}}</span>
        </div>

      <div class="col " style="padding-left: 0; padding-right: 0">
        <button style="margin-bottom:0; max-height: 35px"
                class="btn btn-primary"
                (click)="detailsSelected()">Details</button>
      </div>
  </div>

  <hr *ngIf="isSelected">
  <div *ngIf="isSelected" class="form-inline">
    <h6>issue summary:</h6>
    <p>{{issue.summary}}</p>
  </div>

</div>

