textarea.ng-invalid.ng-touched, input.ng-invalid.ng-touched{
  border: 1px solid red;

}
textarea.ng-valid.ng-touched, input.ng-valid.ng-touched{
  border: 1px solid green;
}

.warning{
  color: red;
}

.positive{
  color: green;
}
