<div class="row">
  <!-- header -->
  <div class="col">
    <br>
    <h1 class="display-4">Hello {{loggedUserName}}, you are now {{isThisEditMode ? 'editing' : 'adding'}} an issue</h1>
    <br>
    <div class="progress" style="height: 1px;">
      <div class="progress-bar bg-success"
           role="progressbar"
           [ngStyle]="{'width':getProgress()}"
           aria-valuenow="25"
           aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">

      <!-- key -->
      <div class="form-row">
        <div class="col-lg-3 col-md-5 mb-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >issue key</span>
            </div>
            <input type="text"
                   (blur)="setProgress('key', 0)"
                   formControlName="key"
                   class="form-control"
                   placeholder="XYZ-99"
                   aria-label="key"
                   id="issue_key">
          </div>
          <div class="positive"
               *ngIf=" issueForm.get('key').valid && issueForm.get('key').touched">
            looks good
          </div>
          <div class="warning" *ngIf="issueForm.controls['key'].hasError('required')&& issueForm.get('key').touched ">
            please insert the key
          </div>
          <div class="warning" *ngIf="issueForm.controls['key'].hasError('pattern')&& issueForm.get('key').touched ">
            key needs to be of format ABC-12
          </div>
        </div>
      </div>

      <!-- priority -->
      <div class="form-row">
        <div class="col-lg-3 col-md-5 mb-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >priority</span>
            </div>
            <input type="number"
                   value="1"
                   max="9"
                   min="1"
                   (blur)="setProgress('priority', 1)"
                   formControlName="priority"
                   class="form-control">
          </div>
          <div class="positive" *ngIf="issueForm.get('priority').valid && issueForm.get('priority').touched">
            looks good
          </div>
          <div class="warning" *ngIf="issueForm.controls['priority'].hasError('required') && issueForm.get('priority').touched ">
            please insert priority
          </div>
          <div class="warning" *ngIf="issueForm.controls['priority'].hasError('max') && issueForm.get('priority').touched ">
            priority cannot be greater than 9
          </div>
          <div class="warning" *ngIf="issueForm.controls['priority'].hasError('min') && issueForm.get('priority').touched ">
            priority must be greater than 0
          </div>
        </div>
      </div>

      <!-- project name -->
      <div class="form-row">
        <div class="col-lg-3 col-md-5 mb-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" >project name</span>
            </div>
            <input type="text"
                   (blur)="setProgress('project',2 )"
                   formControlName="project"
                   minlength="5"
                   maxlength="50"
                   class="form-control"
                   placeholder="mars-landing-101"
                   aria-label="project_name"
                   id="project_name">
          </div>
          <div class="positive" *ngIf="issueForm.get('project').valid && issueForm.get('project').touched">
            looks good
          </div>
          <div class="warning" *ngIf="issueForm.controls['project'].hasError('required') && issueForm.get('project').touched ">
            please insert project name
          </div>
          <div class="warning" *ngIf="issueForm.controls['project'].hasError('minlength') && issueForm.get('project').touched ">
            project name has to be 5-50 characters long
          </div>
        </div>
      </div>

      <!-- full description -->
      <div class="form-row">
        <div class="col mb-3 form-group shadow-textarea">
          <div class="input-group mb-3">
            <textarea class="form-control input-lg"
                      (blur)="setProgress('description',3 )"
                      type="text"
                      maxlength="500"
                      minlength="30"
                      rows="4"
                      formControlName="description"
                      placeholder="issue description with all possible details"
                      aria-label="summary"
                      id="description"></textarea>
          </div>
          <div class="positive" *ngIf="issueForm.get('description').valid && issueForm.get('description').touched">
            looks good
          </div>
          <div class="warning" *ngIf="issueForm.controls['description'].hasError('required') && issueForm.get('description').touched ">
            please describe the problem
          </div>
          <div class="warning" *ngIf="issueForm.controls['description'].hasError('minlength') && issueForm.get('description').touched ">
            description cannot be shorter than 50 characters
          </div>
        </div>
      </div>

      <!-- summary -->
      <div class="form-row">
        <div class="col mb-3">
          <div class="input-group mb-3">
            <textarea type="text"
                      (blur)="setProgress('summary', 4)"
                       maxlength="100"
                       rows="1"
                       formControlName="summary"
                       class="form-control"
                       placeholder="summary of the problem goes here"
                       aria-label="summary"
                          id="summary"></textarea>
          </div>
          <div class="positive" *ngIf="issueForm.get('summary').valid && issueForm.get('summary').touched">
            Looks good.
          </div>
          <div class="warning" *ngIf="issueForm.controls['summary'].hasError('required') && issueForm.get('summary').touched ">
            you have to add a short description
          </div>
          <div class="warning" *ngIf="issueForm.controls['summary'].hasError('minlength') && issueForm.get('summary').touched ">
            summary cannot be shorter than 20 characters
          </div>
        </div>
      </div>

      <!-- buttons: cancel/save -->
      <div class="row justify-content-center">
        <div class="col col-md-2 col-sm-2">
          <button type="submit"
                  [disabled]="!issueForm.valid"
                  class="btn btn-success btn-lg">Save</button>
        </div>
        <div class="col col-md-2 col-sm-2">
          <button type="button"
                  (click)="leaveEdit()"
                  class="btn btn-danger btn-lg">Cancel</button>
        </div>
      </div>
<br><hr>
    </form>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2019 Miłosz Szwedo</p>
</footer>
